._3sdu8W {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 10000;
  min-height: 40px;
  color: #111112;
  background-color: #333;
  a {
    color: white;
    align-items: center;
    justify-content: center;
  }
}
._1ch8e_ {
  min-width: 90px;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  box-sizing: content-box;
}
.YBLJE4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
