<div
  style="
    --sm-order: 1;
    --md-order: 1;
    --lg-order: 1;
    height: calc(100% - 16px);
    background-color: #ffffff;
    margin-top: 0;
    z-index: 10;
  "
  class="_1yQHx8 _2UnIQ_ _3ak8Rd _2y8Yzt"
>
  <div
    data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="9b927f36-b146-4cef-91cc-711ceb3fb1b7"
  >
    <div
      class="css-1dbjc4n r-13awgt0 r-eqz5dr"
      style="
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 16px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
      "
    >
      <div
        data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="c0e67b9c-5553-4552-bc25-4c2cbcfd1c11"
      >
        <div>
          <div class="_3sdu8W emupdz">
            <a
              href="/offers-store?param=98574&amp;fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.6OPAW1HHJZFH&amp;otracker=hp_rich_navigation_1_1.navigationCard.RICH_NAVIGATION_Top%2BOffers_6OPAW1HHJZFH&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_1_L0_view-all&amp;cid=6OPAW1HHJZFH"
              class="_1ch8e_"
              aria-label="Top Offers"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="a2ea56ff-a68c-4d56-ab21-5ce250e481f1"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Top Offers"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/790b539a57f7b8cd.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Top Offers</span></span>
                </div>
              </div></a
            ><a
              href="/mobile-phones-big-dussehra-sale-2023-2bc-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.BYIXDBQAWBHQ&amp;otracker=hp_rich_navigation_2_1.navigationCard.RICH_NAVIGATION_Mobiles%2B%2526%2BTablets_BYIXDBQAWBHQ&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_2_L0_view-all&amp;cid=BYIXDBQAWBHQ"
              class="_1ch8e_"
              aria-label="Mobiles &amp; Tablets"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="9c3ba7c3-bf77-4e94-8411-921ed48ba914"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Mobiles &amp; Tablets"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/444802d58a814f57.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"
                    ><span>Mobiles &amp; Tablets</span></span
                  >
                </div>
              </div></a
            ><a
              href="/flipkart-elec-big-dussehra-sale-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.8TVKUWT87M16&amp;otracker=hp_rich_navigation_3_1.navigationCard.RICH_NAVIGATION_Electronics_8TVKUWT87M16&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_3_L0_view-all&amp;cid=8TVKUWT87M16"
              class="_1ch8e_"
              aria-label="Electronics"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="ca0272f5-4ccb-41c1-839a-c0839972c28d"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Electronics"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/ce3744f59fadb72e.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Electronics</span></span>
                </div>
              </div></a
            ><a
              href="/tvs-appliances-the-big-diwali-sale-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.KCBBC8GGWR9V&amp;otracker=hp_rich_navigation_4_1.navigationCard.RICH_NAVIGATION_TVs%2B%2526%2BAppliances_KCBBC8GGWR9V&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_4_L0_view-all&amp;cid=KCBBC8GGWR9V"
              class="_1ch8e_"
              aria-label="TVs &amp; Appliances"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="02d1699e-4e6d-47b9-8867-5a3e8930f842"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="TVs &amp; Appliances"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/5b8ad952a656b015.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>TVs &amp; Appliances</span></span>
                </div>
              </div></a
            ><a
              href="/fashion-bds1-23-sale-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.CPZ5PBSAJQKR&amp;otracker=hp_rich_navigation_5_1.navigationCard.RICH_NAVIGATION_Fashion_CPZ5PBSAJQKR&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_5_L0_view-all&amp;cid=CPZ5PBSAJQKR"
              class="_1ch8e_"
              aria-label="Fashion"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="852cf1e6-2979-4d69-a61d-2bf5607a5e49"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Fashion"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/e4b01f3d783c49a1.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Fashion</span></span>
                </div>
              </div></a
            ><a
              href="/big-dussehra-sale-2023-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.NMKLQFISEEWO&amp;otracker=hp_rich_navigation_6_1.navigationCard.RICH_NAVIGATION_Beauty_NMKLQFISEEWO&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_6_L0_view-all&amp;cid=NMKLQFISEEWO"
              class="_1ch8e_"
              aria-label="Beauty"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="35e2c3ee-245f-4293-b5ab-e8124ce68b3f"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Beauty"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/9e4acc1d8929bcc6.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Beauty</span></span>
                </div>
              </div></a
            ><a
              href="/homebdssale23-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.IF1WVE47NIXO&amp;otracker=hp_rich_navigation_7_1.navigationCard.RICH_NAVIGATION_Home%2B%2526%2BKitchen_IF1WVE47NIXO&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_7_L0_view-all&amp;cid=IF1WVE47NIXO"
              class="_1ch8e_"
              aria-label="Home &amp; Kitchen"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="ada8bd36-4d2f-4402-b846-77b92f40d386"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Home &amp; Kitchen"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/9ba7be5608413886.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Home &amp; Kitchen</span></span>
                </div>
              </div></a
            ><a
              href="/bigdussheresale-store?fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.DF4ISSCHXW05&amp;otracker=hp_rich_navigation_8_1.navigationCard.RICH_NAVIGATION_Furniture_DF4ISSCHXW05&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_8_L0_view-all&amp;cid=DF4ISSCHXW05"
              class="_1ch8e_"
              aria-label="Furniture"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="c07418bb-ceb0-4847-a545-c377d8d0ba4a"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Furniture"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/dc9cb4d7bd005f70.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Furniture</span></span>
                </div>
              </div></a
            ><a
              href="/travel/flights?param=FKHPDefaultNavTravelBDSOct23&amp;fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.9ODHZCZ094O6&amp;otracker=hp_rich_navigation_9_1.navigationCard.RICH_NAVIGATION_Flights_9ODHZCZ094O6&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_9_L0_view-all&amp;cid=9ODHZCZ094O6"
              class="_1ch8e_"
              aria-label="Flights"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="9a24e8d4-eaaa-42a3-b037-77a8634d3388"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Flights"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/683d71deb68235d5.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Flights</span></span>
                </div>
              </div></a
            ><a
              href="/grocery-supermart-store?marketplace=GROCERY&amp;fm=neo%2Fmerchandising&amp;iid=M_2b7aaf94-10ee-4550-a0bb-b3c9f052897f_1_FBB4FBSRQIC6_MC.4BYE6NISISOE&amp;otracker=hp_rich_navigation_10_1.navigationCard.RICH_NAVIGATION_Grocery_4BYE6NISISOE&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_10_L0_view-all&amp;cid=4BYE6NISISOE"
              class="_1ch8e_"
              aria-label="Grocery"
              ><div
                data-observerid-ba3d9d77-b57a-466a-8c5d-152c784b1e29="605eadac-0492-4459-8f54-c9a42e9567a0"
              >
                <div class="YBLJE4">
                  <div class="_3ETuFY">
                    <div class="_2GaeWJ" style="width: 64px; height: 64px">
                      <img
                        class="_2puWtW _3a3qyb"
                        alt="Grocery"
                        src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/280a9406b5a7fdc8.png?q=100"
                      />
                    </div>
                  </div>
                  <span class="_1XjE3T"><span>Grocery</span></span>
                </div>
              </div></a
            >
          </div>
          <div class="css-1dbjc4n r-nn4mi6" style="height: 1px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
